# AI模型API
DEEPSEEK_API = your DeepSeek API        #注意API不能泄漏，如果泄漏或疑似泄漏应该立刻删除，并新建一个API
DEEPSEEK_BASE_URL = https://api.deepseek.com

# AI模型名称
MODEL_NAME = deepseek-v4-flash/deepseek-v4-pro
# 智能体工作的路径位置，确保文件安全
WORKSPACE_ROOT = .
# 命令运行时长限制，方便检查是否运行错误
COMMAND_TIMEOUT = 30