# AI模型API
DEEPSEEK_API = your DeepSeek API        #注意API不能泄漏，如果泄漏或疑似泄漏应该立刻删除，并新建一个API
DEEPSEEK_BASE_URL = https://api.deepseek.com/v1

# AI模型名称
LLM_NAME = deepseek-chat
WORKSPACE_ROOT = .
COMMAND_TIMEOUT = 30